<!-- PRELOAD hero img for non chrome and non opera -->
<img src="./img/bg copy.jpg" style="display:none;">

<article id="nav" class="nav">
  <img id="second-bg" src="/img/chapel.jpg" alt="">
  <div class="right-shadow"></div>
  <section class="blurb">
    <h1>Dana & Jay</h1>
    <h2 class="hash">#NowAChiao</h2><h2>&nbsp;on May 26, 2018</h2>
    <!-- <h2>5.26.2018</h2> -->
    <br>
    <ul id="nav-links" class="list-unstyled">
      <li class="active"><a id="intro-link" href="#intro" class="scroll-link">Home</a></li>
      <li><a id="story-link" href="#story" class="scroll-link">Story</a></li>
      <!-- <li>Proposal</li> -->
      <li><a id="wedding-link" href="#wedding" class="scroll-link">Wedding</a></li>
      <li><a id="registry-link" href="#registry" class="scroll-link">Registry</a></li>
      <li><span class="photos-link" onclick="javascript:window.location='/photos'">Photos</span></li>
    </ul>
  </section>
</article>
