<article class="nav">
  <div class="right-shadow"></div>
  <section class="blurb">
    <h1>Dana & Jay</h1>
    <h2>Join us May 26, 2018</h2>
    <br>
    <ul id="nav-links" class="list-unstyled">
      <li class="active"><a id="intro-link" href="#intro" class="scroll-link">Home</a></li>
      <li><a id="story-link" href="#story" class="scroll-link">Story</a></li>
      <!-- <li>Proposal</li> -->
      <li><a id="wedding-link" href="#wedding" class="scroll-link">Wedding</a></li>
      <li><a id="registry-link" href="#registry" class="scroll-link">Registry</a></li>
    </ul>
  </section>
</article>
