// Our variables
$base-font-family: 'Catamaran', sans-serif;
$heading-font-family: 'Lora', serif;

$brand-color: #893cfc;
$brand-color-light: #af7aff;

$font-light-grey: #999999;
$font-grey: #808080;
$font-dark-grey: #444444;

$bg-grey: #fafafc;
