// Our variables
$base-font-family: 'Catamaran', sans-serif;
$heading-font-family: 'Lora', serif;
$mono-font-family: 'Roboto Mono', monospace;

$brand-color: #893cfc;
$brand-color-dark: #584179;
$brand-color-light: #af7aff;
$brand-shadow: rgba(88, 65, 121, .08);

$font-light-grey: #999999;
$font-grey: #888888;
$font-dark-grey: #444444;

$bg-grey: #f9f6fa;
